<% if params[:search] and params[:search] != "" %>

  <div id="user-hashtags">
    <% if @results %>

      <% @results.each do |hashtag, frequency| %>
        <div class="hashtag">
          <a href="#" data-filter=".<%= hashtag[1..-1] %>"><%= hashtag %></a>: <span><%= frequency %></span>
        </div>
      <% end %>

    <% end %>
  </div>

  <ul id="imgur-images" class="large-block-grid-4">
    <% if @images %>
      <% @images.each do |hashtag, image_urls| %>
        <% image_urls.each do |image_url| %>

          <li class="<%= hashtag[1..-1] %>">
            <%= link_to(image_url, class: "fancybox", rel: "group") do %>
              <div class="image-box" style="background-image: url('<%= image_url %>')" title="<%= hashtag %>"></div>
            <% end %>
          </li>

        <% end %>
      <% end %>
    <% end %>
  </ul>

<% end %>
