<% if params[:search] and params[:search] != "" %>

  <div id="user-hashtags">
    <% if @results %>

      <% @results.each do |hashtag, frequency| %>
        <div class="hashtag">
          <%= hashtag %>: <span><%= frequency %></span>
        </div>
      <% end %>
      
    <% end %>
  </div>

  <ul class="large-block-grid-3">
    <% if @images %>
      <% @images.each do |hashtag, image_urls| %>
        <% image_urls.each do |image_url| %>

          <li>
            <%= link_to(image_url, class: "fancybox", rel: "group") do %>
              <div class="image-box #{hashtag}" style="background-image: url('<%= image_url %>')" title="<%= hashtag %>"></div>
            <% end %>
          </li>

        <% end %>
      <% end %>
    <% end %>
  </ul>

<% end %>
