<% @page = "searches-index" %>

<div class="row">

  <div id="header">
    <h1>Welcome to <span>Tweet</span>Stream</h1>
    <h2>Enter a twitter handle and explore a visual world of what that user talks about.</h2>
  </div>

  <div id="search-box">
    <%= form_tag root_path, method: 'get', id: "search-box" do %>
      <div id="search-bar">
        <span>@</span><%= text_field_tag :search, params[:search] %>
      </div>
      <div id="search-button" >
        <%= submit_tag "Go!", name: nil, class: 'button' %>
      </div>
    <% end %>
    
    <div id="invalid-handle">
      <% unless @images %>
        <%= @error %>
      <% end %>
    </div>
  </div>

  <div id="search-results">
    <%= render 'results' %>
  </div>

</div>
